.button{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.header{
    background:lightpink;
    display:flex;
    justify-content: space-between;
}

.logo_name{
    display:flex;
    align-content:center;
}

.header_button{
    color:blue;
    text-decoration:none;
    margin-left:20px;
}

.header_button:hover{
    color:violet;
    background:lightgreen;
}

.button{
    display:flex;
    align-content:center;
}

.contact{
    background:lightpink;
}

footer{
    background:aqua;
}