.button{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.a_button{
    display:inline-block;
    background:lightyellow;
    text-decoration:none;
    border:1px black;
}

.a_button:hover{
    display:inline-block;
    background:lightblue;
    text-decoration:none; 
    border:1px black;
}